$primary-color: hsl(172, 67%, 45%)
$secondary-color: hsl(183, 100%, 15%)
$tertiary-color: hsl(186, 14%, 43%)
$quaternary-color: hsl(186, 14%, 43%)
$fifth-color: hsl(172, 67%, 45%)
$border-color-default: hsl(189, 41%, 97%)
$border-color-focus: hsl(172, 67%, 45%)
body
  margin: 0
  padding: 0

  .wrapper
    width: 1440px
    height: 1024px
    //background: url(wfczmy0nrltpwqyaovg6.jpg) top center no-repeat
    font-family: 'Space Mono', monospace
    background-color: hsl(185, 41%, 84%)

    .splitter
      display: flex
      align-items: center
      justify-content: center
      text-align: center
      h1
        width: 120px
        font-size: 25px
        color: $tertiary-color
        letter-spacing: 0.4em
        display: flex
        flex-direction: column
        margin-top: 153px
    .calculator-container
      background-color: hsl(0, 0%, 100%)
      width: 920px
      height: 480px
      border-radius: 17px
      display: flex
      flex-direction: row
      justify-content: center
      margin-top: 60px
      margin-left: 260px

      .calculator
        height: 480px
      .bill, .select
        color: $quaternary-color
        font-size: 16px
        margin-left: 40px
        margin-top: 45px
        width: 370px

      input
        width: 370px
        height: 40px
        font-family: 'Space Mono', monospace
        margin-left: 40px
        margin-top: -20px
        font-size: 24px
        background-color: hsl(189, 41%, 97%)
        border-radius: 6px
        cursor: pointer
        border: $border-color-default
        &:focus
          border-color: $border-color-focus

      .btns
        width: 390px
        height: 130px
        margin-left: 32px
        margin-top: -5px
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        //background-color: red

        button
          background-color: $secondary-color
          font-family: 'Space Mono', monospace
          color: hsl(0, 0%, 100%)
          width: 120px
          height: 50px
          border: none
          border-radius: 6px
          font-size: 25px
          cursor: pointer
          &:hover
            background-color: $fifth-color
            color: $secondary-color
        .custom
          font-family: 'Space Mono', monospace
          color: hsl(186, 14%, 43%)
          width: 120px
          height: 50px
          border: none
          border-radius: 6px
          background-color: hsl(189, 41%, 97%)
          font-size: 25px
          display: flex
          text-align: center
          &:focus
            border: 1px solid
            border-color: hsl(185, 41%, 84%)
      .number
        color: $secondary-color
        font-size: 16px
        margin-left: 40px

      .input-with-icon
        margin-top: 20px
        position: relative
        display: inline-block
        .input-icon
          position: absolute
          top: 50%
          left: 5px
          transform: translateY(-50%)

      .total-container
        width: 455px
        height: 460px
        border-radius: 17px
        display: flex
        flex-wrap: wrap
        flex-direction: row
        margin-right: 20px
        margin-top: 30px

        .total
          width: 415px
          height: 420px
          border-radius: 17px
          background-color: $secondary-color
          width: 920px
          margin-left: 40px
        .tip
          color: hsl(0, 0%, 100%)
          font-size: 15px
          letter-spacing: 0.1em
          margin-left: 40px
          margin-top: 60px

        .tip-total-container
          display: flex
          justify-content: flex-end
          margin-right: 35px
          margin-top: -75px

          .tip-total
            color: $fifth-color
            font-size: 50px
        .tot
          color: hsl(0, 0%, 100%)
          font-size: 15px
          letter-spacing: 0.1em
          margin-left: 40px
          margin-top: 45px
        .tot-container
          display: flex
          justify-content: flex-end
          margin-right: 35px
          margin-top: -75px
          .tot-2
            color: $fifth-color
            font-size: 50px

        p
          font-size: 12px
          color: $quaternary-color
          margin-left: 40px
          margin-top: -20px
          letter-spacing: 0.1em
        button
          width: 335px
          height: 45px
          font-family: 'Space Mono', monospace
          margin-left: 40px
          border-radius: 6px
          border: none
          margin-top: 125px
          background-color: $fifth-color
          letter-spacing: 0.1em
          font-size: 24px
          color: $quaternary-color
          cursor: pointer
          &:hover
            background-color: hsl(185, 41%, 84%)
